* {
    box-sizing: border-box;
    font-family: 'Staatliches', cursive; 
    color: black;
}

/* @font-face {
    font-family: 'SketchLogs';
    src: url('./fonts/SketchLogs.ttf') format('truetype');
    src: url('./fonts/SketchLogs-RyVl.ttf') format('truetype');
    src: url('./fonts/SketchLogs.eot');
    src: url('./fonts/SketchLogs.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SketchLogs.woff2') format('woff2'),
        url('./fonts/SketchLogs.woff') format('woff'),
        url('./fonts/SketchLogs.svg#SketchLogs') format('svg');
} */

html {
    background: url("happycampimg/forestbig.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.header {
    display: inline;
    text-align: center;
}

h1 {
    font-family: "SketchLogs-RyVl";
    color: rgba(22, 12, 1, 0.904);
    border-radius: 15px;
    font-size: 2.0em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    background-color: honeydew;
}

h2 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: 300px;
}

h3 {
    font-size: 1.0em;
    text-align: center;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: 300px;
}

.weather-header {
    display: inline;
    background-color: honeydew;
}

.head-span {
    display: inline-block;
    background-color: honeydew;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    display: block;
    font-size: 0.8em;
    width: 73px;
    background-color: honeydew;
}

.pageCounter {
    font-size: 1.2em;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: honeydew;
}

label {
    font-size: 0.87em;
    margin-right: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: honeydew;
}

form {
    display: inline-block;
    text-align: center;
}

input {
    font-size: 1.0em;
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 4px;
    width: 50px;
}

.home-btn {
    font-size: 1.0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 65px;
}

.submit-btn {
    font-size: 1.0em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.more-btn, .prev-btn {
    font-size: 1.0em;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 65px;
}

.detail-btns {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.detail-btns > button {
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px; 
    margin-bottom: 65px;
    padding: 5px;
    width: 50px;
    height: 40px;
}

.detail-btns > button > span {
    display: block;
    font-size: 0.75em;
}

.detail-btns > button:hover {
    color: #faf5f5 !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.camp-header {
    margin-top: 125px;
}

.camp-img {
    height: 150px;
    width: 175px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.camp-detail-img {
    height: 150px;
    width: 175px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 23px;
    cursor: default;
}

.accordion-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.weather-info {
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    word-wrap: break-word;
}

.weather-info > h3, .weather-info > h4 {
    margin-top: 3px;
    margin-bottom: 5px;
    border-radius: 0;
    text-align: center;
    background-color: none;
}

.weatherIcon {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

img.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50x;
    width: 85px;
    height: 85px;
    margin-top: 150px;
}

p, a {
    color: black;
    font-size: 1.0em;
}

a:hover{
    color: blue;
}

/* Accordion */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 14px;
    text-align: left;
    border: 1px solid #444;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #f6b93b;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    text-align: left;
    padding: 0 18px;
    width: 100%;
    background-color: rgba(185, 185, 185, 0.74);
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.submit-btn {
    color: #080808 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 12px;
    border: 2px solid #494949 !important;
    display: block;
    transition: all 0.4s ease 0s;
}

.home-btn:hover, .submit-btn:hover, .back-results-btn:hover, .more-btn:hover, .prev-btn:hover {
    color: #000000 !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

/* medium size: tablet/iPad */
@media screen and (min-width: 480px) {

    .header {
        display: inline;
        text-align: center;
    }

    h1 {
        font-family: "SketchLogs-RyVl";
        color: rgba(22, 12, 1, 0.904);
        border-radius: 15px;
        font-size: 3.6em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        background-color: honeydew;
    }

    h2 {
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        width: 600px;
    }

    h3 {
        font-size: 2.0em;
        text-align: center;
        margin-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        width: 600px;
    }

    .weather-header {
        display: inline;
        background-color: honeydew;
    }

    .head-span {
        display: inline-block;
        background-color: honeydew;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h4 {
        display: block;
        font-size: 0.8em;
        width: 73px;
        background-color: honeydew;
    }

    .pageCounter {
        font-size: 1.8em;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
        background-color: honeydew;
    }

    label {
        font-size: 1.8em;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        background-color: honeydew;
    }

    form {
        display: inline-block;
        text-align: center;
        margin-top: 75px;
    }

    input {
        font-size: 1.8em;
        margin-top: 75px;
        margin-bottom: 10px;
        padding: 12px;
        width: 90px;
    }

    .home-btn {
        font-size: 1.8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        height: 75px;
        width: 115px;
    }

    .submit-btn {
        font-size: 1.8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .more-btn, .prev-btn {
        font-size: 1.8em;
        text-align: center;
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: 115px;
    }

    .detail-btns {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .detail-btns > button {
        text-align: center;
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px; 
        margin-bottom: 65px;
        padding: 5px;
        width: 100px;
        height: 65px;
    }

    .detail-btns > button > span {
        display: block;
        font-size: 1.4em;
    }

    .detail-btns > button:hover {
        color: #faf5f5 !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        cursor: pointer;
    }

    .camp-header {
        margin-top: 200px;
    }

    .camp-img {
        height: 225px;
        width: 250px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 40px;
        cursor: pointer;
    }

    .camp-detail-img {
        height: 250px;
        width: 275px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 23px;
        cursor: default;
    }

    .accordion-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .weather-info {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
        word-wrap: break-word;
    }

    .weather-info > h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 0;
        text-align: center;
        background-color: none;
        font-size: 30px;
    }

    .weather-info > h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 0;
        text-align: center;
        background-color: none;
        font-size: 23px;
        width: 120px;
    }

    .weatherIcon {
        display: block;
        margin-left: 10px;
        margin-right: auto;
        height: 100px;
        width: 100px;
    }

    img.gif {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50x;
        width: 125px;
        height: 125px;
        margin-top: 300px;
    }

    p, a {
        color: black;
        font-size: 1.6em;
    }

    a:hover{
        color: blue;
    }

    /* Accordion */

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        font-size: 26px;
        text-align: left;
        border: 1px solid #444;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #f6b93b;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        text-align: left;
        padding: 0 18px;
        width: 100%;
        background-color: rgba(185, 185, 185, 0.74);
        display: none;
        overflow: hidden;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    .submit-btn {
        color: #080808 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 12px;
        border: 2px solid #494949 !important;
        display: block;
        transition: all 0.4s ease 0s;
    }

    .home-btn:hover, .submit-btn:hover, .back-results-btn:hover, .more-btn:hover, .prev-btn:hover {
        color: #000000 !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        cursor: pointer;
    }
}  

/* largest size: pc screen */
@media screen and (min-width: 800px) {

    .header {
        display: inline;
        text-align: center;
    }

    h1 {
        font-family: "SketchLogs-RyVl";
        color: rgba(22, 12, 1, 0.904);
        border-radius: 15px;
        font-size: 4.6em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        background-color: honeydew;
    }

    h2 {
        font-size: 2.8em;
        text-align: center;
        margin-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        width: 1000px;
    }

    h3 {
        font-size: 2.4em;
        text-align: center;
        margin-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        width: 600px;
    }

    .weather-header {
        display: inline;
        background-color: honeydew;
    }

    .head-span {
        display: inline-block;
        background-color: honeydew;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h4 {
        display: block;
        font-size: 0.8em;
        width: 73px;
        background-color: honeydew;
    }

    .pageCounter {
        font-size: 2.2em;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
        background-color: honeydew;
    }

    label {
        font-size: 2.2em;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 15px;
        background-color: honeydew;
    }

    form {
        display: inline-block;
        text-align: center;
        margin-top: 75px;
    }

    input {
        font-size: 2.2em;
        margin-top: 75px;
        margin-bottom: 10px;
        padding: 12px;
        width: 110px;
    }

    .home-btn {
        font-size: 1.8em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        height: 75px;
        width: 115px;
    }

    .submit-btn {
        font-size: 2.4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .more-btn, .prev-btn {
        font-size: 1.8em;
        text-align: center;
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: 115px;
    }

    .detail-btns {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .detail-btns > button {
        text-align: center;
        display: inline-block;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px; 
        margin-bottom: 65px;
        padding: 5px;
        width: 110px;
        height: 75px;
    }

    .detail-btns > button > span {
        display: block;
        font-size: 1.8em;
    }

    .detail-btns > button:hover {
        color: #faf5f5 !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        cursor: pointer;
    }

    .camp-header {
        margin-top: 200px;
    }

    .camp-img {
        height: 225px;
        width: 250px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 40px;
        cursor: pointer;
    }

    .camp-detail-img {
        height: 250px;
        width: 275px;
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 23px;
        cursor: default;
    }

    .accordion-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .weather-info {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
        word-wrap: break-word;
    }

    .weather-info > h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 0;
        text-align: center;
        background-color: none;
        font-size: 32px;
    }

    .weather-info > h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 0;
        text-align: center;
        background-color: none;
        font-size: 28px;
        width: 125px;
    }

    .weatherIcon {
        display: block;
        margin-left: 10px;
        margin-right: auto;
        height: 115px;
        width: 110px;
    }

    img.gif {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 50x;
        width: 175px;
        height: 175px;
        margin-top: 300px;
    }

    p, a {
        color: black;
        font-size: 1.6em;
    }

    a:hover{
        color: blue;
    }

    /* Accordion */

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 50%;
        font-size: 26px;
        text-align: left;
        border: 1px solid #444;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #f6b93b;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        text-align: left;
        padding: 0 18px;
        width: 50%;
        background-color: rgba(185, 185, 185, 0.74);
        display: none;
        overflow: hidden;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-top: 5px;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    .submit-btn {
        color: #080808 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 12px;
        border: 2px solid #494949 !important;
        display: block;
        transition: all 0.4s ease 0s;
    }

    .home-btn:hover, .submit-btn:hover, .back-results-btn:hover, .more-btn:hover, .prev-btn:hover {
        color: #000000 !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        cursor: pointer;
    }
}

